
/*----------------------------------------------------navbar styling*/
img{
    height:100px;
    width:70px;
}
.navbar-brand{
    font-size:40px;
    margin-right:100px;
}
.navbar.navbar-expand-lg.navbar-light.bg-light{
    font-size: 20px;
    font-family: 'Acme', sans-serif;
    float:center;
    letter-spacing: 2px;
    font-weight:400;
    padding:5px;
}

.nav-item.active{
    border-bottom: 3px solid #EB1212;
}
.nav-item:hover{
    background-color: #ddd;
}
.navbar-text{
    text-align: center;
    font-size:20px;
    font-family: 'Acme', sans-serif;
    font-weight:400;
}
.fas.fa-phone-alt{
    margin-right:10px;
}

/*-------------------------------------------------------------callout*/
.callout-container{
    height:100vh;
    background: url("../assets/engine.jpg") no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display:flex;
  align-items:center;
  justify-content:center;
  position:relative;
}
.callout.jumbotron.text-center{
    background-color:rgba(9, 10, 10, 0.8);
    margin-top:40px;
}
.opaque-overlay{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.jumbotron-header{
 font-family: "Cabin", sans-serif;
 color:#EB1212;
 margin-bottom:30px;
}
.intro-message{
    font-family: "Cabin", sans-serif;
    color:#ffffff;
    font-size: 22px;
}
.services{
    font-family: "Cabin", sans-serif;
    color:#ffffff;
    font-size: 20px;
    list-style-type: none;
    text-align:center;
    padding: 10px;
}
li i{
    margin-right:10px;
}
.intro-message-bottom{
    font-family: "Cabin", sans-serif;
    color:#ffffff;
    font-size: 22px;
    line-height:200%;
}
/*-------------------------------------------------------------Footer*/
footer{
    background-color:black;
    color:#ffffff;
    font-family: "Cabin", sans-serif;
}
.facebook{
    font-family: "Cabin", sans-serif;
    display:inline;
    text-align: center;
    font-size:20px;
}
.social-links{
    text-align: center;
    padding:3px;
}
.social-links li a{
    text-decoration:none;
    color:#ffffff;
    font-size:20px;
}
.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 26px;
    line-height: 14px;
    text-align: center;
    color: #fafafa;
    background: #1E6D9E;
    transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
}

.social-links li a i:hover {
    color: #1E6D9E;
    background-color:#ffffff;
}
/*--------------------------------Parts*/

#parts{
    font-family: "Cabin", sans-serif;
    color:#ffffff;
    font-size: 22px;
    text-align:center;
    background-color:rgba(9, 10, 10, 0.8);
    padding-top:20px;
}
#title{
    margin-top: 20px;
    margin-bottom:20px;
}
#content{
    font-size: 20px;
    margin: 0px 90px 20px 90px;
    text-align:justify;
}
.webshop{
    background-color: rgb(180, 182, 178);
    height:auto;
    text-align:center;
    font-family: "Cabin", sans-serif;
    color:#EB1212;
    padding-top:30px;
    margin:0px;
}

.webshop-links{
    width: 100px;
    height: 100px;
    padding: 12px 0;
    background-color: rgb(180, 182, 178);
    text-align: center;
}
.icon{
    height:45px;
    width:45px;
}

